# Identificadores de usuario (Docker Desktop = 1000, WSL/Linux usa `id -u`)
USER_ID=1000
GROUP_ID=1000

# Versión de la imagen
ERPNEXT_VERSION=v15.0.0

# Credenciales de Base de Datos (MariaDB)
# No usar 'admin' en producción
MYSQL_ROOT_PASSWORD=cambiar_por_contrasena_segura

# Credenciales de Administrador ERPNext
# Se usará para el primer inicio de sesión
ADMIN_PASSWORD=cambiar_por_contrasena_segura

# Configuración del Sitio
SITENAME=erpnext.local
