# Identificadores de usuario (En Linux/WSL usa `id -u` y `id -g`, en Windows/Docker Desktop déjalo en 1000)
USER_ID=1000
GROUP_ID=1000

# Versión de ERPNext (Aprobada para la Sesión 2)
ERPNEXT_VERSION=v15.0.0

# Credenciales de Base de Datos
MYSQL_ROOT_PASSWORD=TU_CONTRASENA_AQUI

# Credenciales de Administrador ERPNext
ADMIN_PASSWORD=TU_CONTRASENA_AQUI

# Configuración del Sitio
SITENAME=erpnext.local
